<<<<<<< Updated upstream
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}




#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.trapp_icon {
  width:45px;
  height:45px;
}

#upcoming_trip {
  background: url('../images/SF_BG.png') center / cover;
}

.future-trips {
  padding:16px;
}

.future-trips-item {
  margin-bottom:16px;
  padding:12px;
  min-height: 60px;
}

.mdl-color--trapp-blue {
  background-color: #78C0F9;
  color:white;
}

.mdl-color--trapp-red {
  background-color: #FF7F66;
  color:white;
}

.mdl-color-text--white {
  color:white;   
}

.mdl-navigation__link {
  color:white !important;
}

.mdl-card__title-text {
  font-size: 12pt;
  text-align:left;
  margin-right:auto;
}

.right {
  margin-left:auto;
  margin-right:0;
}

#san-francisco {
  background: url('../images/SF_BG.png') center / cover;
}

#london {
  background: url('../images/london.png') center / cover;
}
#washington-dc {
  background: url('../images/dc.png') center / cover;
}
#hawaii {
  background: url('../images/hawaii.png') center / cover;
}
#hong-kong {
  background: url('../images/hong-kong.png') center / cover;
}    

.mdl-button--colored {
  background-color:#FF7F66 !important;
  color:white !important;
} 

.mdl-card__item-text {
  color:white;   
  margin:12px 0 0 0;
}



.mdl-button--floating {
  z-index:1000;
  position:absolute;
  bottom:30px;
}

#map {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.mdl-layout__drawer-button {
  background-color:rgba(120,192,249,0.8);
  color:white;
}


.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #2185C5;
  color: white;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.upcoming-trips {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  color:white;
  padding:20px 40px;
}

.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.future-trips {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-calendar .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
=======
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#FF7F66;
  text-align: center;
}

.image {
	margin: 20px;
}

.noshadow {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input {
	margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

input[type="submit"] {
	background-color: #2185C5;
}

.container {
	margin-top:20vh;
>>>>>>> Stashed changes
}



/*Copied and pasted for calendar :D*/

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
calendar {
  float: left;
  font-family: 'Roboto', sans-serif;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 200px;
  /*border: solid 1px #CCC;*/
  margin-bottom: 10px;
}
calendar > div.header {
  float: left;
  width: 100%;
  /*background: #2875C7;*/
  height: 40px;
  /*color: white;*/
}
calendar > div.header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
calendar > div.header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  /*font-weight: bold;*/
  color: blue;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
calendar > div.header > i.fa-angle-left {
  text-align: left;
}
calendar > div.header > i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}
calendar > div.header > span {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
calendar > div.week {
  float: left;
  width: 100%;
  /*border-top: solid 1px #CCC;*/
}
calendar > div.week:first-child {
  border-top: none;
}
calendar > div.week > span.day {
  float: left;
  width: 14.28571429%;
  /*width:  9.28571429%;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*border-left: solid 1px #CCC;*/
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: black;
}
/*calendar > div.week > span.day:first-child {
  border-left: none;
}*/
calendar > div.week > span.day.today {
  background: #E3F2FF;
/*  font-weight: 900;
  font-size: 0.9em;*/
}

calendar > div.week > span.day.isPast {
  color: #C0C0C0;
}

calendar > div.week > span.day.different-month {
  color: #C0C0C0;
}
calendar > div.week > span.day.selected {
  background: #2875C7;
  color: white;
}
calendar > div.week.names > span {
  color: #2875C7;
  font-weight: bold;
}
