node/node_modules
buzztrapp_mas_vm.pem

/android/Trapp/.gradle
/android/Trapp/local.properties
/android/Trapp/.idea/workspace.xml
/android/Trapp/.idea/libraries
.DS_Store
/android/Trapp/build
/android/.idea/


*.apk
*.ap_
*.dex
*.class
*.iml