<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="...">
	      </a>
	      <div class='nav-right'>
		      <a href="">USER_NAME</a>
	      </div>
	    </div>
	  </div>
	</nav>
	<h1><%=title%></h1>
	<p>Welcome to BuzzTrap</p>
</body>
</html>



