<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Single marker</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <script src="/scripts/jquery.min.js"></script>

<style>
  body { margin:0; padding:0; }
  #map2 { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


<div id='map2'></div>

<script>
  var  cities = {
    "Miami" : "plni8h4k",
    "New York" : "pm1iajik"
  }
  
  var cityCoordinates = {
    "Miami" :  [25.774387672608608, -80.19444465637207],
    "San Francisco" :  [37.77493, -122.419416],
    "Hawaii" :  [21.306944, -157.858333],
    "London" :  [51.507351, -0.127758],
    "Washington DC" :  [38.907192, -77.036871],
    "New York" :  [40.73034831215804, -73.99085998535155],
    "Hong Kong" :  [22.396428, 114.109497]
  }
  var mapCoord = [25.774387672608608, -80.19444465637207];
  L.mapbox.accessToken = 'pk.eyJ1IjoiZGhhbmFuaTk0IiwiYSI6ImNpbHh2eDdiYTA4NDl2Z2tzZ3Rsemw5bGgifQ.73Vj_xaGomgnX0LRDzqM8w';

  var map = L.mapbox.map('map2', 'mapbox.streets', { zoomControl: false })
      .setView(mapCoord, 14);

  map.dragging.disable();
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.keyboard.disable();

  var CLIENT_ID = 'Z1YL1IRWJINRSIYFKX2UPN42HG0KBKZ5ZX3QWZWLPNW1LGDE';
  var CLIENT_SECRET = 'UB3QP3YNFAXSFV0STRV1YOPHSX1MKCTB5TEKDM3J2THCJOIH';

  // https://developer.foursquare.com/start/search
  var API_ENDPOINT = 'https://api.foursquare.com/v2/venues/search' +
    '?client_id=CLIENT_ID' +
    '&client_secret=CLIENT_SECRET' +
    '&v=20130815' +
    '&ll=LATLON' +
    '&query=TYPE' +
    '&callback=?';

  // Keep our place markers organized in a nice group.
  var foursquarePlaces = L.layerGroup().addTo(map);

  // Use jQuery to make an AJAX request to Foursquare to load markers data.
  $.getJSON(API_ENDPOINT
      .replace('CLIENT_ID', CLIENT_ID)
      .replace('CLIENT_SECRET', CLIENT_SECRET)
      .replace('TYPE', 'coffee')
      .replace('LATLON', map.getCenter().lat +
          ',' + map.getCenter().lng), function(result, status) {
      if (status !== 'success') return alert('Request to Foursquare failed');
      for (var i = 0; i < result.response.venues.length; i++) {
        var venue = result.response.venues[i];
        var latlng = L.latLng(venue.location.lat, venue.location.lng);
        var marker = L.marker(latlng, {
            icon: L.mapbox.marker.icon({
              'marker-color': '#BE9A6B',
              'marker-symbol': 'cafe',
              'marker-size': 'large'
            })
          })
        .bindPopup("<b>"+venue.name+"</b><p>"+venue.location.formattedAddress[0]+"</p>")
          .addTo(foursquarePlaces);
      }
  });

  $.getJSON(API_ENDPOINT
      .replace('CLIENT_ID', CLIENT_ID)
      .replace('CLIENT_SECRET', CLIENT_SECRET)
      .replace('TYPE', 'food')
      .replace('LATLON', map.getCenter().lat +
          ',' + map.getCenter().lng), function(result, status) {
      if (status !== 'success') return alert('Request to Foursquare failed');
      for (var i = 0; i < result.response.venues.length; i++) {
        var venue = result.response.venues[i];
        var latlng = L.latLng(venue.location.lat, venue.location.lng);
        var marker = L.marker(latlng, {
            icon: L.mapbox.marker.icon({
              'marker-color': '#BE4730',
              'marker-symbol': 'restaurant',
              'marker-size': 'large'
            })
          })
        .bindPopup("<b>"+venue.name+"</b><p>"+venue.location.formattedAddress[0]+"</p>")
          .addTo(foursquarePlaces);
      }
  });

  $.getJSON(API_ENDPOINT
      .replace('CLIENT_ID', CLIENT_ID)
      .replace('CLIENT_SECRET', CLIENT_SECRET)
      .replace('TYPE', 'arts')
      .replace('LATLON', map.getCenter().lat +
          ',' + map.getCenter().lng), function(result, status) {
      if (status !== 'success') return alert('Request to Foursquare failed');
      for (var i = 0; i < result.response.venues.length; i++) {
        var venue = result.response.venues[i];
        var latlng = L.latLng(venue.location.lat, venue.location.lng);
        var marker = L.marker(latlng, {
            icon: L.mapbox.marker.icon({
              'marker-color': '#49BE62',
              'marker-symbol': 'camera',
              'marker-size': 'large'
            })
          })
        .bindPopup("<b>"+venue.name+"</b><p>"+venue.location.formattedAddress[0]+"</p>")
          .addTo(foursquarePlaces);
      }
  });

</script>


</body>
</html>
