<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BuzzTrapp</title>

	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="images/android-desktop.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.cyan-light_blue.min.css">

	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<!-- mapbox api -->
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <script src="https://code.getmdl.io/1.1.2/material.min.js"></script>
    <script src="/scripts/moment.js"></script>
    <script src="/scripts/jquery.min.js"></script>

<!-- Material Design fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Material Design for Bootstrap -->
<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

  <script src="/scripts/angular.min.js"></script>
  <script src="/scripts/angular-ui-router.min.js"></script>
  <script src="/scripts/ang/ang.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<!--   <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="bower_components/fullcalendar/dist/fullcalendar.min.css"></script> -->
	<!-- // <script src="https://maps.googleapis.com/maps/api/js"></script> -->
	 <!-- <script src="/scripts/dist/jquery.countdown.js"></script> -->
  
</head>
<body ng-app="MainApp">
	<div ng-controller="UserCtrl">
		<div class="loginScreen" ng-show="!isAuthenticated">
			<div class="container">
		    <div class="loginImage">
		    	<img src="images/Trapp-icon-on-white-06.png" alt="Trapp icon" width="240vw"> 
		    </div>
		    <br>
		    <div ng-show="!creatingAccount">
					<form class="noshadow" ng-submit="login()">
						<input class="noshadow form-control" type="text" ng-model="user.email" name="email" placeholder="Email"><br>
						<input class="noshadow form-control" type="password" ng-model="user.password" name="password" placeholder="Password"><br>
						<input class="noshadow form-control" type="submit" value="Log In">
					</form>
					<br>
					<a href="">Forgot password?</a><br>
					<div class="loginErr">{{error}}</div>
					<a ng-click="creatingAccount = true">create user</a>
		    </div>
				<div ng-show="creatingAccount">
					<form class="noshadow" ng-submit="submitNewUser()">
						<input class="noshadow form-control" type="text" ng-model="newUser.name" name="name" placeholder="Name"><br>
						<input class="noshadow form-control" type="text" ng-model="newUser.email" name="email" placeholder="Email"><br>
						<input class="noshadow form-control" type="password" ng-model="newUser.password1" name="password" placeholder="Password"><br>
						<input class="noshadow form-control" type="password" ng-model="newUser.password2" name="password" placeholder="Repeat Password"><br>
						<input class="noshadow" type="submit" value="Create account">
					</form>
					<br>
					<div class="loginErr">{{error}}</div>
					<a ng-click="creatingAccount = false">cancel</a>
				</div>
			</div>
		</div>
		<div ng-if="isAuthenticated">
			<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
			  <header class="demo-header mdl-layout__header">
			    <div class="mdl-layout__header-row mdl-color--trapp-red">
			      <div class="mdl-layout-spacer"></div>
			      <span class="mdl-layout-title"><img class="trapp_icon" src="images/Trapp-icon-on-white-06.png"/>Trapp</span>
			      <div class="mdl-layout-spacer"></div>
			    </div>
			  </header>
			  <div class="demo-drawer mdl-layout__drawer">
			    <header class="demo-drawer-header mdl-color--trapp-blue">
			      <img src="images/user.png" class="demo-avatar">
			      <div class="demo-avatar-dropdown">
			        <span>{{userEmail}}</span>
			        <div class="mdl-layout-spacer"></div>
			        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
			          <i class="material-icons" role="presentation">arrow_drop_down</i>
			          <span class="visuallyhidden">Accounts</span>
			        </button>
			        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
			          <li class="mdl-menu__item">hello@example.com</li>
			          <li class="mdl-menu__item">info@example.com</li>
			          <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
			        </ul>
			      </div>
			    </header>
			    <nav class="demo-navigation mdl-navigation mdl-color--trapp-blue">
			      <a data-toggle="modal" data-target="#myModal" class="mdl-navigation__link mdl-color-text--white" href="#/"><i class="mdl-color-text--white material-icons" role="presentation">create</i>Create a Trip</a>
			      <a class="mdl-navigation__link mdl-color-text--white" href="#/"><i class="mdl-color-text--white material-icons" role="presentation">account_circle</i>Manage Trips</a>
			      <a class="mdl-navigation__link" href="#/history"><i class="mdl-color-text--white material-icons" role="presentation">history</i>History</a>
			      <a class="mdl-navigation__link" href="#/setting"><i class="mdl-color-text--white material-icons" role="presentation">settings</i>Settings</a>
			      <a class="mdl-navigation__link" href="#/help"><i class="mdl-color-text--white material-icons" role="presentation">help</i>Help</a>
			      <a class="mdl-navigation__link" ng-click="logout()" href=""><i class="mdl-color-text--white material-icons" role="presentation">exit_to_app</i>Log Out</a>
			    </nav>
			  </div>
			  <main class="mdl-layout__content">
					<div ui-view></div>
			  </main>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.2.0/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/fezvrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   
<script>
  $('body').bootstrapMaterialDesign()
</script>
</body>
</html>
