<!-- <a href="" >
	<div ng-repeat="trip in myTrips" class="upcoming-trips mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid {{trip.cityClass}}">
	  <span class="mdl-card__item-text mdl-color-text--white">{{trip.location}} | {{trip.strStartDate}} - {{trip.strEndDate}}</span>
	</div>
</a> -->

      <!-- Image card -->
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet" style="overflow:scroll;">
          <div class="mdl-grid" style="padding:0;">
              <div class="demo-card-image mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp {{trip.cityClass}}" style="height:256px;" ng-repeat="trip in myTrips">
                <a ng-click="editTripAction(trip)">
                  <div class="mdl-card__title mdl-card--expand" style="height:216px;"></div>
                  <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">{{trip.location}} | {{trip.strStartDate}} - {{trip.strEndDate}}</span>
                  </div>
                </a>
              </div>
          </div>
      </div> 