<div class="mdl-grid demo-content">
  <a href="#">
    <div class="upcoming-trips mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" id="upcoming_trip">
      <h4>Your upcoming trip to <b>San Francisco</b> is in <b>3</b> days!</h4>
      <p>San Francisco, San Jose, Santa Barbara, Long Beach, Yosemite… | March 12 - March 17</p>
    </div>
  </a>

  <div class="white-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h4 class="mdl-card__title-text">Future Trips</h4>
    <br>
    <a href="#" ng-repeat="trip in myTrips">
      <div class="mdl-card__title mdl-card--expand white-card-item {{trip.cityClass}}">
        <h6 class="mdl-card__item-text mdl-color-text--white">{{trip.location}} | {{trip.strStartDate}} - {{trip.strEndDate}}</h6>
      </div>
    </a>
    <button data-toggle="modal" data-target="#myModal" class="mdl-button mdl-js-button mdl-button--bottom-right mdl-button--fab mdl-js-ripple-effect mdl-button--colored right">
      <i class="material-icons">add</i>
    </button>       
  </div>
  <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
      <h4 class="mdl-card__title-text">Calendar</h4>
			<calendar selected="day"></calendar>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
    <div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="map">
        <div id='map'></div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" my-modal id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <!--   <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add New Trip</h4>
        </div> -->
        <div class="modal-body">
          <form stlye="width:100%">
            <div class="group">
              <label>Destination</label>
              <input ng-model="newTrip.location" type="text"><span class="highlight"></span><span class="bar"></span>
            </div>
            <div class="group">
              <label>Start Date</label>
              <input ng-model="newTrip.startDate" type="date" class="start-date"><span class="highlight"></span><span class="bar"></span>
            </div>
            <div class="group">
              <label>Return Date</label>
              <input ng-model="newTrip.endDate" type="date" class="return-date"><span class="highlight"></span><span class="bar"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="mdl-button mdl-js-button" data-dismiss="modal">Close</button>
          <button type="button" ng-click="addNewTrip()" style="background-color:#2185C5;color:#ffffff;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >Add New Trip</button>
        </div>
      </div>
    </div>
  </div>


<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2xpdTA5MTUiLCJhIjoiY2lteG1iYXIwMDNrandrbHVnNzZzZ3AwcyJ9.xcIZKJMB666kG_m82fcTTw';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location
    center: [-74.50, 40], // starting position
    zoom: 9 // starting zoom
});
</script>

<script src="https://code.getmdl.io/1.1.2/material.min.js"></script>

