<div class="mdl-grid demo-content">
  <a href="#">
    <div class="upcoming-trips mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" id="upcoming_trip">
      <h4>Your upcoming trip to <b>San Francisco</b> is in <b>3</b> days!</h4>
      <p>San Francisco, San Jose, Santa Barbara, Long Beach, Yosemite… | March 12 - March 17</p>
    </div>
  </a>

  <div class="white-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h4 class="mdl-card__title-text">Future Trips</h4>
    <br>
    <a href="#" ng-repeat="trip in myTrips">
      <div class="mdl-card__title mdl-card--expand white-card-item {{trip.cityClass}}">
        <h6 class="mdl-card__item-text mdl-color-text--white">{{trip.location}} | {{trip.strStartDate}} - {{trip.strEndDate}}</h6>
      </div>
    </a>
    <a href="#create-a-trip" class="mdl-button mdl-js-button mdl-button--bottom-right mdl-button--fab mdl-js-ripple-effect mdl-button--colored right" id="btn-create">
      <i class="material-icons">add</i>
    </a>       
  </div>
  <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
      <h4 class="mdl-card__title-text">Calendar</h4>
			<calendar selected="day"></calendar>
    </div>
    <div class="demo-separator mdl-cell--1-col"></div>
    <div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="map">
        <div id='map'></div>
    </div>
  </div>
  <!-- modal for destination and dates -->
  <div class="modal" id="create-a-trip">
      <div class="modal-content">
          <span class="close">x</span>
          <form>
            <div class="group">
              <input type="text"><span class="highlight"></span><span class="bar"></span>
              <label>Where do you want to explore?</label>
            </div>
            <div class="group">
              <input type="date"><span class="highlight"></span><span class="bar"></span>
              <label>Start Date</label>
            </div>
            <div class="group">
              <input type="date"><span class="highlight"></span><span class="bar"></span>
              <label>Return Date</label>
            </div>
            <button class="mdl-button mdl-js-button">
              Cancel
            </button>
            <button type="date" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Confirm
            </button>
          </form>
      </div>
  </div>
</div>




<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2xpdTA5MTUiLCJhIjoiY2lteG1iYXIwMDNrandrbHVnNzZzZ3AwcyJ9.xcIZKJMB666kG_m82fcTTw';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location
    center: [-74.50, 40], // starting position
    zoom: 9 // starting zoom
});
</script>
<script>
// Get the modal
var modal = document.getElementById('create-a-trip');

// Get the button that opens the modal
var btn = document.getElementById("btn-create");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script src="https://code.getmdl.io/1.1.2/material.min.js"></script>

