<div class="mdl-grid demo-content">

  <div class="month white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">  
  <h4 class="mdl-card__title-text">Calendar</h4>
			<calendar selected="day"></calendar>   
			<calendar selected="day"></calendar>  
  </div>
  <div class="date white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet"> 
      <agenda selected="day"></agenda>      
  </div>
  <div class="event white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">     
  <div>
		<ul class="demo-list-control mdl-list">
		  <li class="mdl-list__item">
			<form action="#">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="sample3">
			    <label class="mdl-textfield__label" for="sample3">Title</label>
			  </div>
			</form>
		  </li>
		  <li class="mdl-list__item">
		    <span class="mdl-list__item-primary-content">
		      All Day Event
		    </span>
		      <span class="mdl-list__item-secondary-action">
		        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
		          <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
		        </label>
		    </span>
		  </li>
		  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
					<form action="#">
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					    <input class="mdl-textfield__input" type="date" id="sample3">
					    <label class="mdl-textfield__label" for="sample3">Date</label>
					  </div>
					</form>
		    	</span>
		  </li>

		  <li class="mdl-list__item">
		  		<span class="mdl-list__item-primary-content">
					<form action="#">
					  <div class="mdl-textfield mdl-js-textfield">
					    <input class="mdl-textfield__input" type="time" id="sample3">
					    <label class="mdl-textfield__label" for="sample3"> Start Time</label>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					    <input class="mdl-textfield__input" type="time" id="sample3">
					    <label class="mdl-textfield__label" for="sample3"> End Time</label>
					  </div>
					</form>
		    	</span>
		  </li>

		  <li class="mdl-list__item">
			<form action="#">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="sample3">
			    <label class="mdl-textfield__label" for="sample3"><i class="material-icons mdl-list__item-icon">place</i>Location</label>
			  </div>
			</form>
		  </li>

		  <li class="mdl-list__item">
			<form action="#">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="sample3">
			    <label class="mdl-textfield__label" for="sample3"><i class="material-icons mdl-list__item-icon">notifications</i>Alert</label>
			  </div>
			</form>
		  </li>

		  <li class="mdl-list__item">
			<form action="#">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="sample3">
			    <label class="mdl-textfield__label" for="sample3"><i class="material-icons mdl-list__item-icon">directions_walk</i>Transportation</label>
			  </div>
			</form>
		  </li>

		  <li class="mdl-list__item">
				<!-- Floating Multiline Textfield -->
				<form action="#">
				  <div class="mdl-textfield mdl-js-textfield">
				    <textarea class="mdl-textfield__input" type="text" rows= "3" id="memo" ></textarea>
				    <label class="mdl-textfield__label" for="sample5">
				    	<i class="material-icons mdl-list__item-icon">create</i>
				    	Memo
				    </label>
				  </div>
				</form>

		  </li>

		</ul>
  </div>
  </div>

</div>

<script src="https://code.getmdl.io/1.1.2/material.min.js"></script>


<!-- <a href="" ng-click="cancel()">Click me to cancel</a> -->


