
<div class="mdl-grid" style="margin-left:auto;margin-right:18px;">
<a href="#/suggestionMap"> 
		<button type="button" class="btn btn-raised btn-link" style="margin-left:auto;"><i class="material-icons mdl-list__item-icon" style="color:#2185C5;">map</i>&nbsp; Switch to Map View
		</button>
</a>
</div>

<div class="mdl-grid demo-content">

  <div class="month white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">  
  	<!-- 	<h4 class="mdl-card__title-text">Calendar</h4> -->
		<calendar selected="day"></calendar> 
		<hr>  
		<fieldset class="form-group">
			<div class="row">
				<div class="col-md-2"><b>21</b></div>
				<div class="col-md-10">City Museum, Art Gallery, Central Park, Fisherman's Wharf</div>
			</div>
			<div class="row">
				<div class="col-md-2"><b>22</b></div>
				<div class="col-md-10">National Seashore, Redwood National Park</div>
			</div>
			</fieldset>


		<fieldset class="form-group margin-top-auto">
			<button type="button" style="float:right;" class="btn btn-raised btn-primary">Save Trip</button>
			<button type="button" style="float:left;" class="btn btn-raised btn-danger">Delete Trip</button>
		</fieldset>
  </div>

  <div class="date white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet"> 
      <agenda selected="day"></agenda>      
  </div>
  <div class="event white-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet" style="margin:8;">     
		<form>
		  <fieldset class="form-group">
		    <label for="eventTitle" class="bmd-label-floating">Title</label>
		    <input type="text" class="form-control" id="eventTitle">
		  </fieldset>

		  <fieldset class="form-group">
		    <label for="eventDate" class="bmd-label-floating">Date</label>
		    <input type="date" class="form-control" id="eventDate">
		  </fieldset>  

		  <fieldset class="form-group">
		    <label for="eventStartTime" class="bmd-label-floating">Start Time</label>
		    <input type="time" class="form-control" id="eventStartTime">
		  </fieldset> 

		  <fieldset class="form-group">
		    <label for="eventEndTime" class="bmd-label-floating">End Time</label>
		    <input type="time" class="form-control" id="eventEndTime">
		  </fieldset>  

		   <fieldset class="form-group">
		    <label for="eventLocation" class="bmd-label-floating"><i class="material-icons mdl-list__item-icon">place</i>Location</label>
		    <input type="text" class="form-control" id="eventLocation">
		  </fieldset>    

		  <fieldset class="form-group">
		    <label for="eventAlert" class="bmd-label-floating"><i class="material-icons mdl-list__item-icon">notifications</i>Alert</label>
		    <select class="form-control" id="eventAlert">
		      <option>15 mins before</option>
		      <option>30 mins before</option>
		      <option>1 hour before</option>
		    </select>
		  </fieldset>

		   <fieldset class="form-group">
		    <label for="eventTransportation" class="bmd-label-floating"><i class="material-icons mdl-list__item-icon">directions_walk</i>Transportation</label>
		    <select class="form-control" id="eventTransportation">
		      <option>Walking</option>
		      <option>Transit</option>
		      <option>Driving</option>
		    </select>
		  </fieldset>
		  <br>
		  <fieldset class="form-group">
<!-- 		    <textarea class="form-control" rows="5" placeholder="Memo"></textarea> -->
				<button type="button" style="float:left;" class="btn btn-raised btn-danger">Delete Event</button>
				<button type="button" style="float:right;" class="btn btn-raised btn-primary margin-top-auto">Save Event</button>
		  </fieldset>  
		</form>
  </div>

</div>



<script src="https://code.getmdl.io/1.1.2/material.min.js"></script>


<!-- <a href="" ng-click="cancel()">Click me to cancel</a> -->


