<div class="mdl-grid demo-content">
  <div id='map2'></div>
  <h1>map for: {{title}}</h1>
	<div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" style="height:100%" id="map"></div>
</div>

<!-- <div id='cityMap'></div> -->
<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sliu0915.plni8h4k/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2xpdTA5MTUiLCJhIjoiY2lteG1iYXIwMDNrandrbHVnNzZzZ3AwcyJ9.xcIZKJMB666kG_m82fcTTw'></iframe>
<!-- <div id="sliu0915.plni8h4k"></div> -->

<script>


// mapboxgl.accessToken = 'pk.eyJ1Ijoic2xpdTA5MTUiLCJhIjoiY2lteG1iYXIwMDNrandrbHVnNzZzZ3AwcyJ9.xcIZKJMB666kG_m82fcTTw';
// var map = new mapboxgl.Map({
//     container: 'cityMap', // container id
//     style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location
//     center: [40, 74], // starting position
//     zoom: 3 // starting zoom
// });


</script>

<script src="https://code.getmdl.io/1.1.2/material.min.js"></script>

